@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700&display=swap');

:root{
  --primary: #00A97F;
  --light:rgba(133,198,218,255);
  --dark:rgba(13,13,10,255);
  --darker:rgba(234,157,90,255);
  --lighter:#cbd6cf;
  --lighter1:#c3dacc86;
  --lighter2:#e4f0e9da;
  --darken: #cca27e;
  --color: orangered;
  --search: #FF6000;
  --primary1: #2b3d4c;
  --primary2: #354d61;
}

.logo{
 max-width: 100%;
height: 60px;
  
}

a{
  text-decoration: none;
  font-size: 14px;
}
p{
  font-size: 14px;
  margin: auto;
}
button{
  padding: 12px 10px;
  font-size: 14px;
  background:var(--primary1) ;
  color: white;
}

/* header starts here */

.input-group button{
background: transparent;
font-size: 14px;
color: var(--search);
}
.header-upper{
  background: var(--lighter2);
}

.nav-links a{
  font-size: 16px;
  text-transform: uppercase;
  color: var(--primary1);
}
.nav-links-nav a{
  color: var(--search);
}
.socil-lina{
  color: var(--search);
}
/* footer start */
footer{
  background-color: var(--lighter2);
}
.pay img{
  transition: 0.5s ease;
}
.pay img:hover{
  transform: translateX(-8px);
}


/* products style */
.container-items{
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;

}

.item{
  border-radius: 10px;
}

.item:hover{
  box-shadow: 0 10px 20px rgba(226, 15, 15, 0.2);
}

.item img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all .5s;
}
img{
  width: 5cm;
  height: 5cm;
  margin: 10px;    
}
img.products{
box-shadow: #6c7a89;
}

.item figure{
  overflow: hidden;
}

.item:hover img{
  transform: scale(1.2);
}

.info-product{
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
h2{
  font-size: 24px;
}
h4{
  color: #6c7a89;
  text-transform: uppercase;
  font-size: 11px;
  display: table-caption;
  width: 7cm;
}
p{
  font-weight: bold;
  font-size: 15px;
  cursor:pointer;
}
p.Ver{
font-size: 10px;
color: black;
}
.btn{
  background-color:#f5b041 ;
  justify-content: center;
  margin: 40px;
  left: -35px;
  position: relative;
  width: 170px;
  height: 40px;
}
.btn:hover{
background: #eed476;
}
.btn-description{
width: 1.9cm;
background-color: #e5e9b2;
border-radius: 50px;
justify-content: center;
}
.h4-title{
  width: 50px;
  height: 800px;
  position: absolute;
}
/* detalteProducts */
.container-des{
  justify-content: center;
  display: flex;
  width: 30cm;
}
.h-title{
top: 1.2cm;
position: relative;
font-size: 20px;
text-decoration: underline;
text-transform: uppercase;
}
.price{
  top: 2cm;
  position: relative;
  margin-left: 6.5cm;
  cursor: pointer;
  
}
.h5-price{
  width: 1px;
  height: 0px;
  margin: 0.3px;
  margin-left: 68px;
  position: relative;
  top:-6px;
  font-size: 18px;
}
.Deta-price{
  color: red;
}
.div-us{
  border-radius: 130%;
   background-color: #92afc6;
   width: 3cm;
}
.us{
  position: relative;
  color: black;
  font-size: 15px;
  top: 0.2cm;
  margin-left: 0.3cm;
}
.h2-price{
  font-size: 19px;
  margin-left: 0.5cm

}
.container-descri{
 justify-content: center;
align-content: center;
width: 9.1cm;
background-color: #e0e7ee;
}
